legend {
    display: block;
    width:auto;
    max-width: 20%;
    padding: 0;
    margin-bottom: .1rem;
    font-size: 0.80rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
fieldset {
    min-width: 0;
    padding: 0 0 3px 5px;
    margin: 0;
    border: 0.5px;
    border-color: #e5ebf1;
    border-style: dotted;
}
.form-control {
    color: #67757c;
    min-height:28px;
    display: initial;
}
.custom-select {
    background: url(../assets/images/custom-select.png) right 0.75rem center no-repeat;
}
  .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    /*padding: 0 1.75rem .375rem .75rem;*/
    line-height: 1.5;
    color: #696d17;
    vertical-align: middle;
  border-color: #28a745;
  outline-color: #28a745;
   outline-offset: -2px;
     border-image: none;
     /*
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;background-size: 8px 10px;border: 1px solid #ced4da;border-radius: .25rem;-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
  }
  .sentiment-color{
    color:#dd4b39;
  }

  .emotion-color{
    color:#55acee;
  }
  .customize-select
  {
    max-width:13%;height: 20px !important;
  }
   .in-comment-select
  {
    max-width:20%;
  }
  .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #3c8dbc;
    border-radius: 4px;
    cursor: text;
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    /*height: 20px;*/
    user-select: none;
    -webkit-user-select: none;
}
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
    padding: 1px 10px;
    color: #fff;
}
  .comment-select
  {
    max-width:26%;height: 20px !important;
  }
  .datepicker
  {
    color:#5e5b5b !important;width: 17em; padding: .2em .2em 0 ;
  }